<style>
  /* Form container */
  .update-blog-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  /* Form labels */
  .update-blog-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  /* Form inputs */
  .update-blog-form input[type="text"],
  .update-blog-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  /* Submit button */
  .update-blog-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .update-blog-form input[type="submit"]:hover {
    background-color: #0056b3;
  }

  /* Heading */
  h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
</style>

<h3>Update a Blog</h3>
<div class="update-blog-form">
  <%= form_with model: @blog do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Update title of Blog" %> <br>
    <%= f.label :content %>
    <%= f.text_area :content, placeholder: "Update content of Blog" %> <br>
    <%= f.label :author %>
    <%= f.text_field :author, placeholder: "Update Author of Blog" %> <br>

    <%= f.submit %>
  <% end %>
</div>

